adk
anthropic
bs4
firebase-functions
Flask
functions-framework
google-adk==1.15.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform[adk,agent_engines]==1.110.0
google-cloud-firestore
google-cloud-logging
google-cloud-secret-manager
google-cloud-storage
google-cloud-texttospeech
google-cloud-vision
google-genai
more_itertools
openai
pandas
Pillow
pytest
pytest-cov
pytest-asyncio
requests
tabulate
tqdm
urllib3
vertexai
