{% macro joke_card(joke, reveal_label='Reveal Punchline', image_size=600) -%}
{% if joke.setup_image_url %}
<img src="{{ joke.setup_image_url | replace('width=1024', 'width=' ~ image_size) }}" alt="{{ joke.setup_text }}" class="joke-image" width="{{ image_size }}" height="{{ image_size }}" loading="lazy">
{% endif %}
<p class="joke-text">{{ joke.setup_text }}</p>
<details>
  <summary>{{ reveal_label }}</summary>
  <div class="punchline">
    {% if joke.punchline_image_url %}
    <img src="{{ joke.punchline_image_url | replace('width=1024', 'width=' ~ image_size) }}" alt="{{ joke.punchline_text }}" class="joke-image" width="{{ image_size }}" height="{{ image_size }}" loading="lazy">
    {% endif %}
    <p class="joke-text">{{ joke.punchline_text }}</p>
  </div>
</details>
{%- endmacro %}


